.socialSignon {
  max-width: 5rem !important;
    margin-left: 6rem !important;
    font-family: 'Times New Roman', Times, serif;
  }
  
.links {
  display: block;
  width: 100%;
  margin: 1.5rem auto 0;

  a {
    color: black;
  }
}
  
