.footer {
  
    .wrap {
      max-width: 1450px;
      padding: 20px 10px;
      margin: 0 auto;
      font-size: medium;
      max-height: 3rem;
    .tm{
      float: left;
    }
    .privacy{
      float: right;
      
    }
    }
  }