.footer {
  
    .wrap {
      max-width: 1450px;
      padding: 20px 10px;
      margin: 0 auto;
      font-size: medium;
      max-height: 3rem;
    .tm{
      float: left;
    }
    .tou{
      float: right;
      margin-left: 5px;
      padding-left: 5px;
      
    }
    .privacy{
      float: right;    
    }
    
    }
  }