.header {
    height: 6.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

.wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;
    font-family: 'Hahmlet', serif;
    
    .head{
            max-height: 100%;
            display: flex;
            flex-direction: row;
         
      .logo {
          display:flex;
          width: 7.5rem;
          
      img {
        display: flex;
        width: 100%;
        margin: 0;
        border-radius: 4px;

        
      }
     }
     .right{
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        
        
     }
     h2 {
        display:flex;
        margin-top:  5px;;
        font-weight:normal;
        padding: auto auto auto auto;
        text-align: center;
        
     }
     h4{
        
         display:flex;
         padding: auto auto auto auto;
         margin-left: 10px;
         margin-top:  -15px;;
         text-align: center;
        
     }
    }
    nav {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;

      ul, ul li {
        padding: 0;
        margin: 0;
        height: 100%;
      }

      ul {
        text-align: center;

        li {
          display: inline-block;
          margin: 0 1rem;
          list-style-type: none;

          a {
            font-size: 1.5rem;
            line-height: 6.5rem;
            vertical-align: middle;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
    }  
}
}
.callToActions {
            position: absolute;
            top: 50%; right: 10px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
      
            i {
              display: none;
            }
      
            ul, li {
              margin: 0;
              padding: 0;
            }
      
            li {
              display: inline-block;
              list-style-type: none;
              margin-right: 1.5rem;
      
              &:last-child {
                margin-right: 0;
              }
      
              a, span {
                font-size: 1.5rem;
                line-height: 1;
                color: black;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
              }
      
            }
      
          }
      
        }
      
    