.cupage{
  display: flex;
  align-items: center;
}
.leftside{
  max-width: 50%;
  font-size:x-large;
  text-align: center;
  align-items: center;
  margin-left: 4rem;
}
.contactus{
    float: right;
    display:block;
    width: 100%;
    max-width: 40rem;
    margin:4rem auto 6rem;
    border:0px;
    background-color: rgb(225, 243, 243);
    

    .wrap{
      align-items: center;
      text-align: center;
      padding:10px;
    }
  
    h2{
      font-size: 2.2rem;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      display:block;
      width: 100%;
      padding: 0;
      margin: 2rem auto;
    }
   
    
  }
  .newinp{
    border:0px !important;
    margin:3rem !important;
    max-width:32rem !important;
  }
  .btn-info{
    padding: 1rem 1rem !important;
    margin: auto auto !important;
    border: 0 !important;
    width: 40% !important;
    font-size: 1.5rem !important;
    border-radius: 0.5rem;
    color:white !important;
    font-weight: normal !important;
  }