.test{
    width: 100%;
    height: 200px;
}
.paginationBttns {
    width: 100%;
    text-decoration: none;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px !important;
  }
  
  .paginationBttns a {
    max-width:max-content;
    padding: 12px;
    margin: 1px 15px 1px 10px !important;
    border-radius: 15px;
    border: 1px solid #80ff2b;
    color: #ffffff;
    cursor: pointer;
    font-weight: normal;
    text-transform: none !important;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #32cfff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #60e7ff;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
  }
  .container {
    padding: 5px 10px 5px 10px !important;
    margin: 7px 10px 7px 10px !important;
    max-width: 100% !important;
    background-color:rgb(224, 252, 253);
    border-radius: 5px;
}
.thead-dark{
  font-size: large;
}
tr, td{
  font-size: medium;
  
}
.col,row,key{
    background-color:rgb(177, 228, 215);
    max-width: 100% !important;
    margin: 1px 5px 1px 5px !important;
    padding: 4px !important;
    text-align: center !important;
    font-size: large;
}
.paginate{
    margin-top: 15px;
    padding-top: 5px;
}
.form-control{
    font-size: medium;
    margin: 10px 10px 2px 10px;
}
.btn{
    margin:7px !important;
    border-radius: 15px;
    font-size: medium !important;
    background-color: teal !important;
}
h6{
    font-size:large;
}
h5{
  font-size: large;
}
.CPTH{
  margin:0.1rem 1rem 0rem 1rem ;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  padding:0.5rem;
}
.CPT-val{
  margin:0 1rem 0.1rem 1rem ;
  display: inline-block;
  font-size: medium;
  padding:0.5rem;
}
.DescH{
  margin:0 1rem 0rem 1rem ;
  border-width: thin;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  padding:0.5rem;
}
.Desc-val{
  margin:0 1rem 0rem 1rem ;
  border-width: thin;
  display: inline-block;
  font-size: medium;
  padding:0.5rem;
  
}
.Desc{
  width: fit-content;
  border-width: thin;
  border-style: groove;
  border-color: rgb(156, 199, 201);
  //background-color: rgb(218, 254, 255);
}
.CPT{
  width: fit-content;
  border-width: thin;
  border-style:groove;
  border-color: rgb(156, 199, 201);
  //background-color: rgb(218, 254, 255);
}
.disc{
  font-size: small;
  
}

